@import "tailwindcss";

@theme {
  /* breakpoints */
  --breakpoint-*: initial;
  --breakpoint-tablet: 40em;
  --breakpoint-desktop: 62em;

  /* fonts */
  --font-family-*: initial;
  --font-family-body: var(--font-inter);
  --font-family-headline: var(--font-inter);

  /* font weights */
  --font-weight-*: initial;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-headline: 700;

  /* border radius */
  --radius-*: initial;
  --radius-none: 0;
  --radius-xs: var(--border-radius-xs);
  --radius-s: var(--border-radius-s);
  --radius-m: var(--border-radius-m);
  --radius-l: var(--border-radius-l);
  --radius-xl: var(--border-radius-xl);
  --radius-xxl: var(--border-radius-xxl);
  --radius-full: 9999px;

  /* box shadows */
  --shadow-*: initial;
  --shadow-sm: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  --shadow-df:
    0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.1),
    0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.06);
  --shadow-lg:
    0 0.625rem 0.9375rem 0 rgba(0, 0, 0, 0.1),
    0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.05);
  --shadow-outline: 0 0 0 var(--shadow-outline-width, 0.25rem)
    var(--shadow-outline-color, var(--color-secondary-200));

  /* z-indices */
  --z-index-*: initial;
  --z-index-hide: -1;
  --z-index-auto: auto;
  --z-index-base: 0;
  --z-index-above: 10;
  --z-index-dropdown: 1000;
  --z-index-sticky: 1100;
  --z-index-overlay: 1200;
  --z-index-modal: 1300;
  --z-index-popover: 1400;
  --z-index-tooltip: 1500;

  /* colors */
  --color-banner-black: var(--color-banner-black);
  --color-banner-ash: var(--color-banner-ash);
  --color-gray-light: var(--color-gray-light);


  --color-divider: var(--color-divider);
  --color-bg-main: var(--color-bg-main);

  --color-transparent: transparent;
  --color-current: currentColor;
  --color-neutral-black: var(--color-neutral-black);
  --color-neutral-white: var(--color-neutral-white);
  --color-neutral-50: var(--color-neutral-50);
  --color-neutral-100: var(--color-neutral-100);
  --color-neutral-200: var(--color-neutral-200);
  --color-neutral-400: var(--color-neutral-400);
  --color-neutral-500: var(--color-neutral-500);
  --color-neutral-600: var(--color-neutral-600);

  --color-primary: var(--color-primary);
  --color-primary-light: var(--color-primary-light);

  /* text colors */
  --color-primary-main: var(--color-text-gray-900);
  --color-secondary-main: var(--color-text-gray-600);
  --color-tertiary-main: var(--color-text-gray-500);
  --color-disabled-main: var(--color-text-gray-400);

  /* font sizes and line heights */
  --text-*: initial;
  --text-page-title-mobile: 1.875rem;
  --text-page-title-mobile--line-height: 2.375rem;
  --text-page-title: 2.25rem;
  --text-page-title--line-height: 2.75rem;
  --text-section-heading-mobile: 1.25rem;
  --text-section-heading-mobile--line-height: 1.75rem;
  --text-section-heading: 1.5rem;
  --text-section-heading--line-height: 2rem;
  --text-subsection-heading-mobile: 1.125rem;
  --text-subsection-heading-mobile--line-height: 1.625rem;
  --text-subsection-heading: 1.25rem;
  --text-subsection-heading--line-height: 1.75rem;
  --text-stats-mobile: 1.25rem;
  --text-stats-mobile--line-height: 1.75rem;
  --text-stats: 1.5rem;
  --text-stats--line-height: 2rem;
  --text-card-label-mobile: 0.75rem;
  --text-card-label-mobile--line-height: 1rem;
  --text-card-label: 0.875rem;
  --text-card-label--line-height: 1.25rem;
  --text-body-mobile: 0.875rem;
  --text-body-mobile--line-height: 1.375rem;
  --text-body: 1rem;
  --text-body--line-height: 1.5rem;

  /* animations */
  --animate-fade-in: fade-in 0.3s ease-in forwards;
  --animate-fade-out: fade-out 0.3s ease-out forwards;
  --animate-expand: expand 0.3s cubic-bezier(0.87, 0, 0.13, 1);
  --animate-collapse: collapse 0.3s cubic-bezier(0.87, 0, 0.13, 1);
  --animate-slide-up-and-fade: slide-up-and-fade 0.3s ease-in;
  --animate-slide-down-and-fade: slide-down-and-fade 0.3s ease-in;
  --animate-slide-left-and-fade: slide-left-and-fade 0.3s ease-in;
  --animate-slide-right-and-fade: slide-right-and-fade 0.3s ease-in;
  --animate-scale-in: scale-in 0.2s ease-out forwards;
  --animate-scale-out: scale-out 0.2s ease-in forwards;
  --animate-slide-in-toast: slide-in-toast 0.15s ease-in;
  --animate-swipe-out-toast: swipe-out-toast 0.15s ease-out;
  --animate-expand-ease-out: expand 0.3s ease-out forwards;
  --animate-collapse-ease-out: collapse 0.3s ease-out forwards;
  --animate-dots: dots 1s infinite;

  /* keyframes */
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes expand {
    from {
      height: 0;
    }
    to {
      height: var(--expand-size);
    }
  }
  @keyframes collapse {
    from {
      height: var(--collapse-size);
    }
    to {
      height: 0;
    }
  }
  @keyframes slide-up-and-fade {
    from {
      opacity: 0;
      transform: translateY(var(--slide-up-size));
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-down-and-fade {
    from {
      opacity: 0;
      transform: translateY(calc(-1 * var(--slide-down-size)));
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-right-and-fade {
    from {
      opacity: 0;
      transform: translateX(calc(-1 * var(--slide-right-size)));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slide-left-and-fade {
    from {
      opacity: 0;
      transform: translateX(var(--slide-left-size));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes scale-in {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes scale-out {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0);
    }
  }
  @keyframes slide-in-toast {
    from {
      opacity: 0.5;
      transform: translateX(calc(100% + var(--toast-viewport-padding)));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes swipe-out-toast {
    from {
      transform: translateX(var(--radix-toast-swipe-end-x));
      opacity: 1;
    }
    to {
      transform: translateX(calc(var(--radix-toast-swipe-end-x) + 100%));
      opacity: 0;
    }
  }
}
/* variable based utilities */
@utility spinner-thickness-* {
  --spinner-thickness: --value([length]);
  --spinner-thickness: calc(--value(integer) * var(--spacing));
}

@utility spinner-size-* {
  --spinner-size: --value([length]);
  --spinner-size: calc(--value(integer) * var(--spacing));
}

@utility shadow-outline-width-* {
  --shadow-outline-width: --value([length]);
  --shadow-outline-width: calc(--value(integer) * var(--spacing));
}

@utility spinner-empty-area-color-* {
  --spinner-empty-area-color: --value(--color-*);
}

@utility shadow-outline-color-* {
  --shadow-outline-color: --value(--color-*);
}

@utility section-bg-* {
  --section-background-color: --value(--color-*);
}

@utility webkit-text-fill-* {
  -webkit-text-fill-color: --value(--color-*);
}

@utility autofill-bg-* {
  -webkit-box-shadow: 0 0 0 1000px --value(--color-*) inset;
}

/* typography utilities */
@utility headline1 {
  @apply text-page-title-mobile tablet:text-page-title font-family-headline font-semibold;
}

@utility headline2 {
  @apply text-section-heading-mobile tablet:text-section-heading font-family-headline font-semibold;
}

@utility headline3 {
  @apply text-subsection-heading-mobile tablet:text-subsection-heading font-family-headline font-medium;
}

@utility stats {
  @apply text-stats-mobile tablet:text-stats font-family-body font-semibold;
}

@utility card-label {
  @apply text-card-label-mobile tablet:text-card-label font-family-body;
}

@utility body-text {
  @apply text-body-mobile tablet:text-body font-family-body;
}

/* section utilities */
@utility section-p-small {
  @apply tablet:py-8 desktop:py-16 py-6;
}

@utility section-p-hero {
  @apply tablet:pb-12 desktop:pb-24 tablet:pt-12 desktop:pt-24 pb-10 pt-6;
}

@utility section-p-large {
  @apply tablet:py-12 desktop:py-24 py-10;
}

@utility section-subgrid {
  @apply gap-[--section-grid-spacing] grid grid-cols-[repeat(var(--section-grid-columns),1fr)];
}

/* state-based utilities */
@utility rotate-on-open {
  transition: transform 0.3s;
  transform: rotate(0deg);

  [data-state="open"] & {
    transform: rotate(-180deg);
  }
}

/* screen height utilities */
@utility h-screen {
  height: 100vh !important;
  height: 100dvh !important;
}

@utility min-h-screen {
  min-height: 100vh !important;
  min-height: 100dvh !important;
}

/* custom variants */
@custom-variant hover-media {
  @media (hover: hover) and (pointer: fine) {
    @slot;
  }
}

@custom-variant disabled-btn {
  &[aria-disabled="true"]:not([data-loading="true"]) {
    @slot;
  }
}

@custom-variant loading {
  &[data-loading="true"] {
    @slot;
  }
}

@custom-variant checked-cb {
  &[data-state="checked"]:not(:disabled) {
    @slot;
  }
}

@custom-variant hover-cb {
  &[data-state="checked"]:is(:hover):not(:disabled) {
    @slot;
  }
}

@custom-variant webkit-autofill {
  &:-webkit-autofill {
    @slot;
  }
}

@custom-variant hover-btn {
  @media (hover: hover) and (pointer: fine) {
    &:hover:not([data-loading="true"]):not([aria-disabled="true"]) {
      @slot;
    }
  }
}
